html {
  background: url('../img/bg.png');
  height: 100%;
}

body {
  font: 12px arial;
  color: #333333;
  background: url('../img/bottom.png') no-repeat;
  background-position: center bottom;
}

.f-title {
	text-align: center;
	color: #aaa;
	padding: 20px;
}

.f-explain {
	margin-top: 15px;
	font-family: 'Varela Round', sans-serif;
	font-size: 26px;
}

.f-container {
	text-align: center;
}

.page-fb-login {
	text-align: right;
	padding: 20px;
}

.f-nav {

}

.f-content {
	padding-bottom: 250px;
}

/* Overrides to image-picker */

ul.thumbnails.image_picker_selector li .thumbnail {
	border-width: 2px;
	border-color: #ddd;
}

<<<<<<< HEAD
.thumbnail {
	margin: 0;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
	background: none;
	border-color: #87aaeb;
}

=======
>>>>>>> 2c79990008022b575e09ac1d75377bc13ff83227

