body {
  font: 12px arial;
  color: #333333;
  background: url('../img/bg.png');
}

.active {
	color: red;
}

.f-title {
	text-align: center;
	color: #aaa;
	font-family: 'Varela Round', sans-serif;
}

.f-container {

}

.f-nav {

}

.f-content {

}
